#join-btnr{
    position: relative;
    right: -400px;
    bottom: -300px;
      border: 1px solid rgb(10, 119, 178);
  background: rgba(3, 5, 35, 0.6);
  font-size: 18px; 
  color: white;
 
  padding: 10px 50px;
  cursor: pointer;

  transition: .4s;
}

#join-btns{
    position: relative;
    right: -450px;
    bottom: -300px;
      border: 1px solid rgb(10, 119, 178);
  background: rgba(3, 5, 35, 0.6);
  font-size: 18px; 
  color: white;

  cursor: pointer;
  transition: .4s;
}

#join-btnl{
    position: relative;
    right: -650px;
    bottom: -300px;
     border: 1px solid rgb(10, 119, 178);
  background: rgba(3, 5, 35, 0.6);
  font-size: 18px; 
  color: white;

  cursor: pointer;
  transition: .4s;
}

#join-btnu{
    position: relative;
    right: -410px;
    bottom: -200px;
     border: 1px solid rgb(10, 119, 178);
  background: rgba(3, 5, 35, 0.6);
  font-size: 18px; 
  color: white;

  cursor: pointer;
  transition: .4s;
}

#join-btnd{
    position: relative;
    right: -375px;
    bottom: -400px;
     border: 1px solid rgb(10, 119, 178);
  background: rgba(3, 5, 35, 0.6);
  font-size: 18px; 
  color: white;
 
  cursor: pointer;
  transition: .4s;
}